:root {
  --primary-text-color: #434455;
  --title-text-color: #2E2F42;
  --accent-color: #4D5AE5;
  --primary-white-color: #ffffff;
  --secondary-background-color: #F4F4FD;
  --dark-background-color: #2E2F42;
  --footer-address-text-color: #F4F4FD;
  --footer-social-accent-color:#31D0AA;
  --btn-primary-accent-color: #404BBF;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.032em;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
  
}

/*   Шапка сайту   */

header {
  border-bottom: solid 1px #ececec;
}

header .container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 76px;

  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.054em;
  text-decoration: none;
  text-transform: uppercase;
}

/*.site-nav,
.header-item {
  font-weight: 500;

  line-height: 1.14;
  text-decoration: none;
}*/

.site-nav {
  color: var(--title-text-color);
  font-weight: 500;
}

.site-nav.link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.list {
  display: flex;

  list-style: none;
}

.list .item:not(:last-child) {
  margin-right: 40px;
}

.list.contacts {
  display: flex;
  margin-left: auto;
}

.header-item {
  color: var(--primary-text-color);
  
}

.site-nav.link {
  display: block;
}

.site-nav.current {
  color: var(--accent-color);
}

.site-nav:hover,
.site-nav:focus {
  color: var(--accent-color);
}

.header-item.link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-contacts .header-item.link:hover,
.item-contacts .header-item.link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/*.contacts-icon {
  margin-right: 40px;
  fill: currentColor;
}*/

/*  Сброс
Основний контент  */

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*   Банер   */

.baner-title {
  color: var(--primary-white-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.11em;
  

  margin-bottom: 48px;
}

.baner {
  background-color: var(--dark-background-color);
  text-align: center;
  padding-top: 188px;
  padding-bottom: 292px;

  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/backimage.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*   Кнопки   */

.btn {
  cursor: pointer;
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  font-family: inherit;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
letter-spacing: 0.064em;
  border: transparent;
  border-radius: 4px;
  text-align: center;
}

.btn.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  

  
  display: flex;
  align-items: center;
  

  border: 2px solid var(--accent-color);
  margin-left: auto;
  margin-right: auto;
 
  min-width: 169px;
  padding: 16px 32px;
}

.btn.primary:focus,
.btn.primary:hover {
  background-color: var(--btn-primary-accent-color);
  border-color: var(--btn-primary-accent-color);
}

.btn.secondary {
  color: var(--accent-color);
  background-color: var(--secondary-background-color);
  
  
  

  min-width: 73px;
  padding: 6px 22px;
  border-color: #eeeeee;

  display: flex;
  align-items: center;
  margin-bottom: 34px;
}

.btn.secondary:hover,
.btn.secondary:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.btn-list {
  justify-content: center;
}

.btn-item:not(:last-child) {
  margin-right: 8px;
}

.btn:focus,
.btn:hover {
  color: var(--primary-white-color);
  background-color: var(--btn-primary-accent-color);
  border-color: var(--accent-color);
}

/*   Заголовки   */

.section-title,
.list-title {
  color: var(--title-text-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.072em;
  text-align: center;
  text-transform: capitalize;

  margin-bottom: 72px;
}

/*   Зображення, фото   */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*   Чем мы занимаемся   */

/*.section.directions {
  padding-top: 0;
}*/

.list-direction {
  justify-content: space-between;
}

.directions-item:not(:last-child) {
  margin-right: 24px;
}

/*   Особенности студии   */

.list.advant {
  display: flex;
  margin-right: -24px;
}

.advant-items {
  margin-right: 24px;
  flex-basis: calc((100% - 96px) / 4);
  
}



.thumb {
  width: 264px;
  height: 120px;
  background-color: var(--secondary-background-color);
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icons-advant {
  background-position: 50% 50%;
  padding: 0;
}

/*
або

.list.advant:not(:last-child) {
  margin-right: 30px;
}

.advant-items {
  width: 270px;
}*/

/*.advant-title {
  
  

  margin-bottom: 10px;
}*/

.advant-title,
.list-title,
.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: 0.04em;
  
}

.section.advant {
  padding-bottom: 0;
}

/*   Наша команда   */

.section.team {
  background-color: var(--secondary-background-color);
}

.teams {
  padding-top: 32px;
  padding-bottom: 32px;
  /*padding-left: 32px;
  padding-right: 32px;*/
  background-color: #ffffff;
  
  
}

.work-list .list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: none;
}

.list {
  display: flex;

  list-style: none;
}

/*.team-title,
.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}*/

.team-title {
  /*color: var(--title-text-color);
  font-weight: 500;*/
  text-align: center;
  margin-bottom: 8px;
}

.team-position {
  margin-bottom: 8px;
  text-align: center;
}

/*.images:last-child {
  margin-right: 0;
}*/

.list.images {
  display: flex;
  margin-right: -24px;
}

.images {
  margin-right: 24px;
  flex-basis: calc((100% - 96px) / 4);
}

.images .images {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  border-top: none;
}

.social-icons-link {
  display: flex;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  
  align-items: center;
  justify-content: center;
  background-color: var(--primary-white-color);
  fill: var(--secondary-background-color);
  background-color: var(--accent-color);
}

.social-icons:not(:last-child) {
margin-right: 24px;
}

.social-icons-link:hover,
.social-icons-link:focus {
  
  background-color: var(--btn-primary-accent-color);
}

.list.social {
  display: flex;
  /*width: 232px;*/
  justify-content:space-around;
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: none;
}

/*  Наши постоянные клиенты*/

.list.clients {
  margin-right: -30px;
}

.clients-link {
  width: 168px;
  height: 88px;
  border: 1px solid #afb1b8; /*!!!!!!!!!!!!!!!!!!*/
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
}

.thumb-clients:not(:last-child) {
  margin-right: 24px;
}

.thumb-clients .clients-link:hover,
.thumb-clients .clients-link:focus {
  fill: var(--btn-primary-accent-color);
  border: 1px solid var(--btn-primary-accent-color);
}

/*   Секція Портфоліо   */

.section.portfolio {
padding-top: 100px;
}

.variaty {
  color: var(--primary-text-color);
}

.work-list .variaty {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/*.works-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.works-item {
  margin-bottom: 30px;
}

/*.works-item:nth-of-type(3n) {
  margin-right: 0;
}*/

.work-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.works-item {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 90px) / 3);
  box-shadow: none;
}
.works-link:hover {
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-item {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.works-list-title,
.variaty {
  margin-bottom: 4px;
}

/*   footer   */

footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--dark-background-color);
}

footer .container {
  display: flex;
  align-items: baseline;
}

.footer-nav {
  width: 264px;
  margin-right: 120px;
  
}

footer .logo {
  display: block;
  margin-bottom: 18px;
  margin-right: 0;
}





footer .logo,
.footer-paragraph {
  color: var(--footer-address-text-color);
}

/*.address,
.contacts {
  font-style: normal;
  text-decoration: none;
}

.address-item,
.mail-item {
  margin-bottom: 9px;
}

.address:focus,
.address:hover {
  color: var(--accent-color);
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}*/

/*footer .social {
  display: flex;
  align-items: center;
}*/

.social {
  display: block;
  width: 208px;
}

.icons-footer {
  fill: var(--primary-white-color);
}

footer .social-icons-link {
  background-color: var(--accent-color);
}

footer .social-icons:not(:last-child) {
  margin-right: 16px;
}

.social-links.list {
  display: flex;
}

footer .social-icons-link:hover,
footer .social-icons-link:focus {
  background-color: var(--footer-social-accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-title {
  color: var(--primary-white-color);
  font-size: 16px;
  
  margin-bottom: 16px;
}

/*fill="#afb1b8" style="fill: var(--color4, #afb1b8)"*/
